.sortable__table{
  width: 100%;
  display: table;
}

.sortable-table-image {
  height: 40px;
  max-width: 100%;
  padding: 4px;
  border: 1px solid var(--grey-light);
  border-radius: 2px;
}

.sortable-table-tooltip__category {
  color: var(--grey);
}

.sortable-field-tooltip__subcategory {
  color: var(--dark-blue);
}

.sortable-table__row, .sortable-table__header {
  color: #333333;
  text-decoration: none;
  display: table-row;
}

.sortable-table__row:hover {
  background-color: #e8e8e8;
}

.sortable-table__header div {
  text-align: center;
  border-bottom: 1px solid #666666;
  cursor: pointer;
}

.sortable-table__cell {
  padding: 12px 5pt;
  display: table-cell;
}

.ra {
  padding-right: 20pt;
  text-align: right;
}
